{% extends 'base.html.twig' %}

{% block title %} {{article.title}} {% endblock %}

{% block body %}
    <main class=" px-8">
        <h1>{{ article.title }}</h1>
        <hr  class="mb-4 mt-4">

        {{ article.content|raw }}

        <h2 class="comment-title">
            <span id="comment-count">{{ article.comments|length }} comment(s)</span>
        </h2>
        <hr class="mb-4 mt-4">
        <div class="comment-area mb-5">
            {{ form(commentForm, { 'attr': { 'class': 'comment-form' } }) }}
        </div>
    </main>
{% endblock %}
